<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <section>
    <div id="post-details">
        <p class="location"><i class="fa-solid fa-location-dot"></i><%= post.location %></p>
        <p class="date"><%= post.createdAt.toLocaleDateString() %></p>
        <h2 class="post-title"><%= post.title %></h3>
        <h3><%= post.content %></h3> 
    </div>
    <form id="edit-comment" action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <textarea name="content" cols="30" rows="10"><%= comment.content %></textarea>
        <button type="submit">Update Comment</button>
    </form>
    </section>
    <%- include('../partials/footer') %>
</body>
</html>

