<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <section class="show-user">
        <div>
            <img src="<%= user.avatar %>" alt="user-avatar">
            <h2><%= user.name %></h2>
            <div class="profile-info">
                <h4>Profile Info:</h4>
                <p>Member since: <%= user.createdAt.toLocaleDateString() %></p>   
                <p><%= user.location %></p>     
                <p><%= user.email %></p>
                <p><%= user.bio %></p>
                <p><%= user.socialLinks %></p>
                <a href="/users/<%= user._id %>/edit">Add More Info</a>
            </div>
            <div class="comments-view">
                <h4>Comments by you:</h4>
                <% posts.forEach(post => { %>
                    <% if(comments.length > 0) {%>
                        <% post.comments.forEach(comment => { %>
                            <p><%= comment.content %> <span> <%= comment.createdAt.toLocaleDateString() %> </span></p>
                            <p><em>On post: <%= post.title %></em></p>
                            <div class="update-delete">
                                <a href="/posts/<%= post._id %>/comments/<%= comment._id %>/edit"><i class="fa-solid fa-pen-to-square"></i></a>
                                <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button type="submit"><i class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                            <hr>
                        <% }) %>
                    <% } else { %>
                        <p>No Comments Yet</p>
                    <% } %>
                <% }) %>
            </div>
        </div>
    </section>
    <%- include('../partials/footer') %>
</body>
</html>