<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
<%- include('../partials/header') %>
<main>
    <section class="posts-grid">
        <% posts.forEach(p => { %>
            <article>
                <h2><%= p.title %></h2>
                <h2><%= p.location %></h2>
                <h2><%= p.content %></h2>
                    <a href="/posts/<%= p._id %>">View More</a>
                </h2>
            </article>
        <% }) %>
    </section>   
</main>

<%- include('../partials/footer') %>
</body>
</html>