<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <section>
        <h1><%= post.title %></h1>
        <h6><%= post.location %></h6>
        <p><%= post.content %></p>
        <% post.comments.forEach(comment => { %>
            <p><%= comment.content %></p>
        <% }) %>
        <form action="/posts/<%= post._id %>/comments" method="POST">
            <textarea name="content" id="comment-content" cols="30" rows="10" placeholder="Add a comment..."></textarea>
            <input type="submit" value="Add Comment">
        </form>
    </section>
    <%- include('../partials/footer') %>
</body>
</html>